* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: #fd439a;
    --secondary: #13010d;
    --tertiary: #ddff44; 
    --grey: #333;
    font-size: 62.5%;
  }
  
  body {
    background: var(--secondary);
    color: var(--tertiary);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-style: normal;
    font-family: "Lucida Console", Courier, monospace;
  }
  
  header {
    background: var(--secondary);
    padding: 30px 25px;
    font-size: 30px;
    border: solid 15px var(--primary);
  }
  /*Header color change animation*/
  h1 {
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% { color: var(--primary); }
    50% { color: var(--tertiary); }
    100% { color: var(--primary); }
    50% { color: var(--tertiary); }
  }

  header p {
    color: var(--tertiary);
    margin: 5px 0 20px;
    font-size: 20px;
  }

  footer {
    width: 100%;
    background: var(--secondary);
    color: var(--tertiary);
    font-size: 2.4rem;
    padding: 20px;
    border-top: 5px solid var(--primary);
  }