* {
    box-sizing: border-box;
    align-items: center;
  }
  
  :root {
    --primary: #fd439a;
    --secondary: #13010d;
    --tertiary: #ddff44; 
    --quaternary: rgb(233, 39, 233);
    font-size: 62.5%;
  }
  
  body {
    background: var(--secondary);
    color: var(--tertiary);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-style: normal;
    font-family: "Lucida Console", Courier, monospace;
    text-align: center;
  }
  
  header {
    background: var(--secondary);
    padding: 30px 25px;
    font-size: 30px;
    border: solid 15px var(--primary);
  }
  /*Header color change animation*/
  h1 {
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% { color: var(--primary); }
    50% { color: var(--tertiary); }
    100% { color: var(--primary); }
    50% { color: var(--tertiary); }
  }

  header p {
    color: var(--tertiary);
    margin: 5px 0 20px;
    font-size: 20px;
  }

  /* button styling */
  button {
    align-items: center;
    background: linear-gradient(144deg, var(--primary)50%, var(--tertiary));
    border: 800px;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px; 
  }
//end of button//


    body .footer{
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-areas: "main" "footer";
        overflow-x: hidden;
        background: #13010d;
        min-height: 100vh;
        font-family: "Open Sans", sans-serif;
      }
      body .footer {
        z-index: 1;
        --footer-background:#fd439a;
        display: grid;
        position: relative;
        grid-area: footer;
        min-height: 12rem;
      }
      body .footer .bubbles {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1rem;
        background: var(--footer-background);
        filter: url("#blob");
      }
      body .footer .bubbles .bubble {
        position: absolute;
        left: var(--position, 50%);
        background: var(--footer-background);
        border-radius: 100%;
        -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
                animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
        transform: translate(-50%, 100%);
      }
      body .footer .content {
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 4rem;
        padding: 2rem;
        background: var(--footer-background);
      }
      body .footer .content a, body .footer .content p {
        color: #F5F7FA;
        text-decoration: none;
      }
      body .footer .content b {
        color: white;
      }
      body .footer .content p {
        margin: 0;
        font-size: 0.75rem;
      }
      body .footer .content > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      body .footer .content > div > div {
        margin: 0.25rem 0;
      }
      body .footer .content > div > div > * {
        margin-right: 0.5rem;
      }
      body .footer .content > div .image {
        align-self: center;
        width: 4rem;
        height: 4rem;
        margin: 0.25rem 0;
        background-size: cover;
        background-position: center;
      }
      
      @-webkit-keyframes bubble-size {
        0%, 75% {
          width: var(--size, 4rem);
          height: var(--size, 4rem);
        }
        100% {
          width: 0rem;
          height: 0rem;
        }
      }
      
      @keyframes bubble-size {
        0%, 75% {
          width: var(--size, 4rem);
          height: var(--size, 4rem);
        }
        100% {
          width: 0rem;
          height: 0rem;
        }
      }
      @-webkit-keyframes bubble-move {
        0% {
          bottom: -4rem;
        }
        100% {
          bottom: var(--distance, 10rem);
        }
      }
      @keyframes bubble-move {
        0% {
          bottom: -4rem;
        }
        100% {
          bottom: var(--distance, 10rem);
        }}