* {
    box-sizing: border-box;
    align-items: center;
  }
  
  :root {
    --primary: #fd439a;
    --secondary: #13010d;
    --tertiary: #ddff44; 
    font-size: 62.5%;
  }
  
  body {
    background: var(--secondary);
    color: var(--tertiary);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-style: normal;
    font-family: "Lucida Console", Courier, monospace;
    text-align: center;
  }

/*------------------------header starts here---------------------------*/
  header {
    background: var(--secondary);
    margin: 10px auto 0 auto;
    padding: 30px 25px;
    font-size: 30px;
    border: solid 15px var(--primary);
  }
/*-----------------header color change animation-----------------------*/
  h1 {
    animation: color-change 1s infinite;
    font-size: 50px;
  }
  @keyframes color-change {
    0% { color: var(--primary); }
    50% { color: var(--tertiary); }
    100% { color: var(--primary); }
    50% { color: var(--tertiary); }
  }
  header p {
    color: var(--tertiary);
    margin: 5px 0 20px;
    font-size: 25px;
    text-align: center;
    text-justify: inner-character;
  }
  header p1 {
    color: var(--primary);
    margin: 5px 0 20px;
    font-size: 30px;
    text-align: center;
    text-justify: inner-character;
  }
/*-----------------------end of header---------------------------------*/
h2 {
  font-size: 30px;
}
/*classes*/
.wrapper {
  margin: 10px auto 0 auto;
  max-width: 600px;
  height: 100vh;
  color: white;
}
.wrapper ol {
  background: var(--tertiary);
  color: black;
}

#questions {
  padding-bottom: 500px;
}
.start-button {
  margin: 0 auto;
}
.choices button {
  display: block;
  margin: 0 auto;
}

.hide {
  display: none;
  
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top:40px;
  left: 30px;
  font-size: 30px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid rgb(201, 193, 193);
}

.timer {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 30px;
}
a {
  color: var(--tertiary);
  text-decoration: none;
  transition: color 0.1s;
    border-radius: 8px;
}

a:hover {
  color: var(--primary); 
  border: 800px;
    border-radius: 8px;
    box-sizing: border-box;
}

/*---------------------button starts here------------------------------*/
  button {
    text align: center;
    background: linear-gradient(144deg, var(--primary)50%, var(--tertiary));
    border: 800px;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 15px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px; 
  }
  button:hover {
    background-color: silver;
  }
/*----------------------end of button-----------------------------------*/

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
 
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #dfdae7;
}
/*---------------------footer starts here-------------------------------*/
    body .footer{
        height: 50rem; 
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-areas: "main" "footer";
        min-height: calc(100vh - 95px);
        position: fixed;
        width: 100%;
        left:0px;
        height: 12rem; 
        bottom: 0px;
        font-family: "Open Sans", sans-serif;
       
      }
      body .footer {
        z-index: 9999;
        --footer-background:#fd439a;
        display: grid;
        grid-area: footer;
        min-height: 1rem;
        height: 25%; 
        bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
      }
      body .footer .bubbles {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        height: 0rem;
        background: var(--footer-background);
        filter: url("#blob");
      }
      body .footer .bubbles .bubble {
        position: absolute;
        left: var(--position, 50%);
        background: var(--footer-background);
        border-radius: 100%;
        -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
                animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
        transform: translate(-50%, 100%);
      }
      body .footer .content {
        z-index: 2;
        display: outside;
        padding: 2rem;
        background: var(--footer-background);
      }
      body .footer .content a, body .footer .content p {
        color: #F5F7FA;
        text-decoration: none;
      }
      body .footer .content b {
        color: white;
      }
      body .footer .content p {
        margin: 0;
        font-size: 0.75rem;
      }
      body .footer .content > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      body .footer .content > div > div {
        margin: 0.25rem 0;
      }
      body .footer .content > div > div > * {
        margin-right: 0.5rem;
      }
      body .footer .content > div .image {
        align-self: center;
        width: 4rem;
        height: 4rem;
        margin: 0.25rem 0;
        background-size: cover;
        background-position: center;
      }
      
      @-webkit-keyframes bubble-size {
        0%, 75% {
          width: var(--size, 4rem);
          height: var(--size, 4rem);
        }
        100% {
          width: 0rem;
          height: 0rem;
        }
      }
      
      @keyframes bubble-size {
        0%, 75% {
          width: var(--size, 4rem);
          height: var(--size, 4rem);
        }
        100% {
          width: 0rem;
          height: 0rem;
        }
      }
      @-webkit-keyframes bubble-move {
        0% {
          bottom: -4rem;
        }
        100% {
          bottom: var(--distance, 10rem);
        }
      }
      @keyframes bubble-move {
        0% {
          bottom: -4rem;
        }
        100% {
          bottom: var(--distance, 10rem);
        }
    }
/*-----------------footer ends-----------------------------------*/